.map-container {
  position: relative;
}

.map {
  height: 200px;
  width: 100%;
}

@media (min-width: 768px) {
  .map {
    height: 600px;
  }
}

.amount {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 45px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--colors-white);
  justify-content: space-between;
}

@media (min-width: 768px) {
  .amount {
    display: flex;
  }
}
