.row {
  margin: 0 calc(-1 * var(--gutter-width) / 2);
  display: flex;
  flex-wrap: wrap;
}

.reverse {
  flex-flow: column-reverse;
}

@media (min-width: 768px) {
  .reverse {
    flex-flow: row;
  }
}

